<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich" template="../layout/template.xhtml">

	<ui:define name="body">

		<h:form id="groupFunctionSearch" styleClass="edit">			

			<div class="actionButtons"> <s:button
				view="/functions/GroupFunctionsEdit.xhtml" id="create" propagation="none"
				action="#{groupFunctionHome.addNodes}"
				 value="Thêm mới">
				<f:param name="groupFunctionId" />
			</s:button></div>

		</h:form>

		<rich:panel>
		<f:facet name="header">Danh sách nhóm quyền (#{empty groupFunctionList.resultList ? 0 : (groupFunctionList.paginated ? groupFunctionList.resultCount : groupFunctionList.resultList.size)})</f:facet>
		<h:form >			
			<div class="results" id="groupFunctionList"><h:outputText
				value="Không có liên hệ nào."
				rendered="#{empty groupFunctionList.resultList}" /> <rich:dataTable
				onRowMouseOver="this.style.backgroundColor='#D3DBDE'"
				onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
				id="groupFunctionList" var="_function" value="#{groupFunctionList.resultList}"
				rendered="#{not empty groupFunctionList.resultList}">
				<rich:column sortBy="#{_function.groupFunctionName}">
					<f:facet name="header">
						<h:outputText value="Nhóm quyền" />
					</f:facet>
					<h:outputText value="#{_function.groupFunctionName}" />
				</rich:column>
				<rich:column sortBy="#{_function.description}">
					<f:facet name="header">
						<h:outputText value="Mô tả" />
					</f:facet>
					<h:outputText value="#{_function.description}" />
				</rich:column>
				<rich:column styleClass="action">
					<f:facet name="header">Hành động</f:facet>					
            <s:link  view="/functions/GroupFunctionsEdit.xhtml" value="Sửa"
						propagation="none" id="groupFunctionEdit" action ="#{groupFunctionHome.addListFunctions}">
						<f:param name="groupFunctionId" value="#{_function.groupFunctionId}" />
					</s:link>				
				</rich:column>
			</rich:dataTable></div>
			</h:form>
		</rich:panel>

		<div class="tableControl"><s:link view="/GroupFunctionsList.xhtml"
			rendered="#{groupFunctionList.previousExists}"
			value="#{messages.left}#{messages.left} First Page" id="firstPage">
			<f:param name="firstResult" value="0" />
		</s:link> <s:link view="/GroupFunctionsList.xhtml"
			rendered="#{groupFunctionList.previousExists}"
			value="#{messages.left} Previous Page" id="previousPage">
			<f:param name="firstResult"
				value="#{groupFunctionList.previousFirstResult}" />
		</s:link> <s:link view="/GroupFunctionsList.xhtml"
			rendered="#{groupFunctionList.nextExists}"
			value="Next Page #{messages.right}" id="nextPage">
			<f:param name="firstResult" value="#{contactList.nextFirstResult}" />
		</s:link> <s:link view="/GroupFunctionsList.xhtml"
			rendered="#{groupFunctionList.nextExists}"
			value="Last Page #{messages.right}#{messages.right}" id="lastPage">
			<f:param name="firstResult" value="#{groupFunctionList.lastFirstResult}" />
		</s:link></div>

	</ui:define>

</ui:composition>
