<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	template="../layout/template.xhtml">

	<ui:define name="body">

		<h:form id="groupFunctionEdit" styleClass="edit">

			<rich:panel>
				<f:facet name="header">Phân quyền cho nhân viên</f:facet>
				<s:decorate id="tblUserFullName" template="../layout/edit.xhtml">
					<ui:define name="label">Nhân viên</ui:define>
					<h:outputText id="tblUserFullName" style="width: 300px;"
						value="#{tblUsersHome.instance.fullName}" />
				</s:decorate>
				<s:decorate id="tblUserName" template="../layout/edit.xhtml">
					<ui:define name="label">Tên đăng nhập</ui:define>
					<h:outputText id="tblUserName" style="width: 300px;"
						value="#{tblUsersHome.instance.userName}" />
				</s:decorate>
				<rich:dataGrid value="#{tblUsersHome.allListGroupFunctions}"
					var="_groupFunction" columns="4">
					<f:facet name="header">
						<h:outputText value="Danh sách nhóm quyền"></h:outputText>
					</f:facet>
					<h:panelGrid columns="4">
						<h:selectBooleanCheckbox value="#{_groupFunction.selected}">
							<a:support event="onclick"
								action="#{tblUsersHome.addGroupFunction(_groupFunction)}"
								ignoreDupResponses="true">
							</a:support>
						</h:selectBooleanCheckbox>
						<h:outputText value="#{_groupFunction.groupFunctionName}"
							styleClass="label"></h:outputText>
					</h:panelGrid>
				</rich:dataGrid>
				<div style="clear: both"></div>
			</rich:panel>

			<div class="actionButtons"> <h:commandButton
				id="update" value="Cập nhật" action="#{tblUsersHome.updateGroupFunction}"
				rendered="#{tblUsersHome.managed}" /> <s:button
				id="cancelEdit" value="Trở về" propagation="end"
				view="/TblUsersList.xhtml" /></div>
		</h:form>
	</ui:define>

</ui:composition>
