<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    template="layout/template.xhtml">

<ui:define name="body">

    <h:form id="customersSearch" styleClass="edit"
    rendered="#{s:hasRole('B01') or s:hasRole('B02') or s:hasRole('B03') or s:hasRole('B04')}">

        <rich:simpleTogglePanel label="Customers Search Filter" switchType="ajax">
			<h:panelGrid columns="3">
				<s:div>
	            <s:decorate template="layout/display.xhtml">
	                <ui:define name="label">Mã khách hàng</ui:define>
	                <h:inputText id="customerCode" value="#{customersList.customers.customerCode}"/>
	            </s:decorate>
	            <s:decorate template="layout/display.xhtml">
	                <ui:define name="label">Tên khách hàng</ui:define>
	                <h:inputText id="customerName" value="#{customersList.customers.customerName}"/>
	            </s:decorate>
				<s:decorate template="layout/display.xhtml">
	                <ui:define name="label">Mã số thuế</ui:define>
	                <h:inputText id="taxCode" value="#{customersList.customers.taxCode}"/>
	            </s:decorate>
	            <s:decorate template="layout/display.xhtml">
	                <ui:define name="label">Fax</ui:define>
	                <h:inputText id="fax" value="#{customersList.customers.fax}"/>
	            </s:decorate>
	            <s:decorate template="layout/display.xhtml">
	                <ui:define name="label">Telephone</ui:define>
	                <h:inputText id="telephone" value="#{customersList.customers.telephone}"/>
	            </s:decorate>
	            <s:decorate template="layout/display.xhtml">
	                <ui:define name="label">Địa chỉ</ui:define>
	                <h:inputText id="customerAddress" value="#{customersList.customers.customerAddress}"/>
	            </s:decorate>
				<s:decorate template="layout/display.xhtml">
	                <ui:define name="label">Ghi chú</ui:define>
	                <h:inputText id="customerDescription" value="#{customersList.customers.customerDescription}"/>
	            </s:decorate>
	            </s:div>
	            <s:div style="float: left; vertical-align: top;">
	            	<fieldset style="border: 1px solid gray; width: 320px; margin-bottom: 25px;"><legend
							style="font-weight: bold;"> Ngày cài đặt </legend>
		            <s:decorate id="startDateDeploymentField" template="layout/display.xhtml"
								rendered="true">
								<ui:define name="label">Từ ngày</ui:define>
								<rich:calendar id="startDateDeployment" value="#{customersList.startDateDeployment}"
									inputSize="10" zindex="50" datePattern="dd/MM/yyyy">
								</rich:calendar>
					</s:decorate>
					<s:decorate id="toDateDeploymentld" template="layout/display.xhtml"
						rendered="true">
						<ui:define name="label">Tới ngày</ui:define>
						<rich:calendar id="toDateDeployment" value="#{customersList.toDateDeployment}"
							inputSize="10" zindex="50" datePattern="dd/MM/yyyy">
						</rich:calendar>
					</s:decorate>
					</fieldset>
	            	<fieldset style="border: 1px solid gray; width: 320px"><legend
							style="font-weight: bold;"> Ngày tạo </legend>
		            <s:decorate id="fromDateField" template="layout/display.xhtml"
								rendered="true">
								<ui:define name="label">Từ ngày</ui:define>
								<rich:calendar id="startDate" value="#{customersList.startDateCreate}"
									inputSize="10" zindex="50" datePattern="dd/MM/yyyy">
								</rich:calendar>
					</s:decorate>
					<s:decorate id="toDateField" template="layout/display.xhtml"
						rendered="true">
						<ui:define name="label">Tới ngày</ui:define>
						<rich:calendar id="toDate" value="#{customersList.toDateCreate}"
							inputSize="10" zindex="50" datePattern="dd/MM/yyyy">
						</rich:calendar>
					</s:decorate>
					</fieldset>
				</s:div>
				<s:div style="float: left; vertical-align: top;">
	            	<fieldset style="border: 1px solid gray; width: 320px; margin-bottom: 25px;"><legend
							style="font-weight: bold;"> Ngày hết hạn </legend>
			            <s:decorate id="startDateFinishField" template="layout/display.xhtml"
									rendered="true">
									<ui:define name="label">Từ ngày</ui:define>
									<rich:calendar id="startDateFinish" value="#{customersList.startDateFinish}"
										inputSize="10" zindex="50" datePattern="dd/MM/yyyy">
									</rich:calendar>
						</s:decorate>
						<s:decorate id="toDateFinishld" template="layout/display.xhtml"
							rendered="true">
							<ui:define name="label">Tới ngày</ui:define>
							<rich:calendar id="toDateFinish" value="#{customersList.toDateFinish}"
								inputSize="10" zindex="50" datePattern="dd/MM/yyyy">
							</rich:calendar>
						</s:decorate>
					</fieldset>	            	
				</s:div>
			</h:panelGrid>
            <s:decorate template="layout/display.xhtml" rendered="false">
                <ui:define name="label">Match</ui:define>
                <h:selectOneRadio id="logic" value="#{customersList.restrictionLogicOperator}" styleClass="radio">
                    <f:selectItem itemLabel="All" itemValue="and"/>
                    <f:selectItem itemLabel="Any" itemValue="or"/>
                </h:selectOneRadio>
            </s:decorate>

        </rich:simpleTogglePanel>

        <div class="actionButtons">
            <h:commandButton id="search" value="Search" action="#{customersList.searchCustomers}"/>
            <s:button id="reset" value="Reset" includePageParams="false"/>
            <s:button view="/CustomersEdit.xhtml"
                    id="create"
           propagation="none"
                 value="Create customers">
            <f:param name="customersCustomerId"/>
        </s:button>
        </div>           

    </h:form>

    <rich:panel>
        <f:facet name="header">Customers Search Results (#{empty customersList.resultList ? 0 : (customersList.paginated ? customersList.resultCount : customersList.resultList.size)})</f:facet>
    <div class="results" id="customersList">

    <h:outputText value="The customers search returned no results."
               rendered="#{empty customersList.resultList}"/>

    <rich:dataTable id="customersList"
                var="_customers"
              value="#{customersList.resultList}"
           rendered="#{not empty customersList.resultList}">
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{customersList}"/>
                    <ui:param name="propertyLabel" value="STT"/>
                    <ui:param name="propertyPath" value="customers.customerId"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_customers.customerId}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{customersList}"/>
                    <ui:param name="propertyLabel" value="Mã KH"/>
                    <ui:param name="propertyPath" value="customers.customerCode"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_customers.customerCode}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{customersList}"/>
                    <ui:param name="propertyLabel" value="Tên khách hàng"/>
                    <ui:param name="propertyPath" value="customers.customerName"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_customers.customerName}"/>
        </h:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{customersList}"/>
                    <ui:param name="propertyLabel" value="Địa chỉ"/>
                    <ui:param name="propertyPath" value="customers.customerAddress"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_customers.customerAddress}"/>
        </h:column>
        
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{customersList}"/>
                    <ui:param name="propertyLabel" value="Telephone"/>
                    <ui:param name="propertyPath" value="customers.telephone"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_customers.telephone}"/>
        </h:column>
        <rich:column style="width : 80px; text-align : center">
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{customersList}"/>
                    <ui:param name="propertyLabel" value="Ngày bắt đầu"/>
                    <ui:param name="propertyPath" value="customers.deploymentDate"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_customers.deploymentDate}">
                <s:convertDateTime type="both" dateStyle="short" pattern="dd/MM/yyyy"/>
            </h:outputText>
        </rich:column>
        <rich:column style="width : 80px; text-align : center">
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{customersList}"/>
                    <ui:param name="propertyLabel" value="Ngày kết thúc"/>
                    <ui:param name="propertyPath" value="customers.finishDate"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_customers.finishDate}">
                <s:convertDateTime type="both" dateStyle="short" pattern="dd/MM/yyyy"/>
            </h:outputText>
        </rich:column>
        <rich:column style="width : 80px; text-align : center">
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{customersList}"/>
                    <ui:param name="propertyLabel" value="Ngày tạo"/>
                    <ui:param name="propertyPath" value="customers.regDttm"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_customers.regDttm}">
                <s:convertDateTime type="both" dateStyle="short" pattern="dd/MM/yyyy : HH:mm:ss"/>
            </h:outputText>
        </rich:column>
        <h:column>
            <f:facet name="header">
                <ui:include src="layout/sort.xhtml">
                    <ui:param name="entityList" value="#{customersList}"/>
                    <ui:param name="propertyLabel" value="Ghi chú"/>
                    <ui:param name="propertyPath" value="customers.customerDescription"/>
                </ui:include>
            </f:facet>
            <h:outputText value="#{_customers.customerDescription}"/>
        </h:column>
                
        <rich:column styleClass="action">
            <f:facet name="header">Action</f:facet>
            <s:link view="/#{empty from ? 'Customers' : from}.xhtml"
                   value="#{empty from ? 'View' : 'Select'}"
             propagation="#{empty from ? 'none' : 'default'}"
                      id="customersViewId">
                <f:param name="customersCustomerId"
                        value="#{_customers.customerId}"/>
            </s:link>
            #{' '}
            <s:link view="/CustomersEdit.xhtml"
                   value="Edit"
             propagation="none"
                      id="customersEdit"
                rendered="#{empty from and s:hasRole('B02') or s:hasRole('B03') or s:hasRole('B05')}">
                <f:param name="customersCustomerId"
                        value="#{_customers.customerId}"/>
            </s:link>
            #{' '}
            <s:link view="/CustomersGiaHan.xhtml"
                   value="Gia hạn"
             propagation="none"
                      id="customersEdit2"
                rendered="#{(empty from and s:hasRole('B02') or s:hasRole('B03') or s:hasRole('B05')) 
                and _customers.status == 0 and _customers.versionType == 0}">
                <f:param name="customersCustomerId"
                        value="#{_customers.customerId}"/>
            </s:link>
        </rich:column>
    </rich:dataTable>

    </div>
    </rich:panel>

    <div class="tableControl">

        <s:link view="/CustomersList.xhtml"
            rendered="#{customersList.previousExists}"
               value="#{messages.left}#{messages.left} First Page"
                  id="firstPage">
          <f:param name="firstResult" value="0"/>
        </s:link>

        <s:link view="/CustomersList.xhtml"
            rendered="#{customersList.previousExists}"
               value="#{messages.left} Previous Page"
                  id="previousPage">
            <f:param name="firstResult"
                    value="#{customersList.previousFirstResult}"/>
        </s:link>

        <s:link view="/CustomersList.xhtml"
            rendered="#{customersList.nextExists}"
               value="Next Page #{messages.right}"
                  id="nextPage">
            <f:param name="firstResult"
                    value="#{customersList.nextFirstResult}"/>
        </s:link>

        <s:link view="/CustomersList.xhtml"
            rendered="#{customersList.nextExists}"
               value="Last Page #{messages.right}#{messages.right}"
                  id="lastPage">
            <f:param name="firstResult"
                    value="#{customersList.lastFirstResult}"/>
        </s:link>

    </div>

</ui:define>

</ui:composition>
