<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="layout/template.xhtml">

<ui:define name="body">
<ui:include src="/PopupAddSqlCustomer.xhtml" />
		<ui:include src="/PopupEditSqlCustomer.xhtml" />
    <rich:panel style="width : 100%; float: left;">
        <f:facet name="header">Customers Details</f:facet>

		<s:decorate id="customerCode" template="layout/display.xhtml">
            <ui:define name="label">Mã hợp đồng</ui:define>
            <h:outputText value="#{customersHome.instance.customerCode}"/>
        </s:decorate>
        <s:decorate id="customerName" template="layout/display.xhtml">
            <ui:define name="label">Tên khách hàng</ui:define>
            <h:outputText value="#{customersHome.instance.customerName}"/>
        </s:decorate>        
        <s:decorate id="confirmActiveKey" template="layout/display.xhtml">
            <ui:define name="label">Confirm key</ui:define>
            <h:outputText value="#{customersHome.instance.confirmActiveKey}"/>
        </s:decorate>
    </rich:panel>
    <div style="clear:both"/>
    <rich:panel style="width : 50%; float: left;">    
        <s:decorate id="numberUser" template="layout/display.xhtml">
            <ui:define name="label">Số lượng user</ui:define>
            <h:outputText value="#{customersHome.instance.numberUser}"/>
        </s:decorate>
        <s:decorate id="versionType" template="layout/display.xhtml">
            <ui:define name="label">Trạng thái</ui:define>
            <h:outputText value="#{customersHome.instance.versionType == 0 ? 'Đã mua hàng' : 'Dùng thử'}"/>
        </s:decorate>
        <s:decorate id="deploymentDate" template="layout/display.xhtml">
            <ui:define name="label">Ngày bắt đầu</ui:define>
            <h:outputText value="#{customersHome.instance.deploymentDate}">
            	<s:convertDateTime pattern="dd/MM/yyyy" dateStyle="both"
							type="date" />
			</h:outputText>				
        </s:decorate>
        <s:decorate id="finishDate" template="layout/display.xhtml">
            <ui:define name="label">Ngày kết thúc</ui:define>
            <h:outputText value="#{customersHome.instance.finishDate}">
            	<s:convertDateTime pattern="dd/MM/yyyy" dateStyle="both"
							type="date" />
			</h:outputText>				
        </s:decorate>
        <s:decorate id="typeCompany" template="layout/display.xhtml">
            <ui:define name="label">Loại hình</ui:define>
            <h:outputText value="#{customersHome.instance.typeCompany == 0 ? 'Doanh nghiệp' : 'Cá nhân'}"/>
        </s:decorate>
         <s:decorate id="taxCode" template="layout/display.xhtml">
            <ui:define name="label">Mã số thuế/CMTND</ui:define>
            <h:outputText value="#{customersHome.instance.taxCode}"/>
        </s:decorate>		
        <s:decorate id="telephone" template="layout/display.xhtml">
            <ui:define name="label">Telephone</ui:define>
            <h:outputText value="#{customersHome.instance.telephone}"/>
        </s:decorate>
        <s:decorate id="customerAddress" template="layout/display.xhtml">
            <ui:define name="label">Địa chỉ</ui:define>
            <h:outputText value="#{customersHome.instance.customerAddress}"/>
        </s:decorate>
        <s:decorate id="displayLogo" template="layout/display.xhtml">
            <ui:define name="label">Url Logo</ui:define>
            <h:outputText value="#{customersHome.instance.displayLogo}"/>
        </s:decorate>
    </rich:panel>
    <rich:panel style="width : 45%; float: right;">    
        <s:decorate id="img" template="layout/display.xhtml">
            <ui:define name="label">Logo trên báo cáo</ui:define>
            <h:outputText value="#{customersHome.instance.img}"/>
        </s:decorate>
         <s:decorate id="fax" template="layout/display.xhtml">
            <ui:define name="label">Fax</ui:define>
            <h:outputText value="#{customersHome.instance.fax}"/>
        </s:decorate>
        <s:decorate id="email" template="layout/display.xhtml">
            <ui:define name="label">Email</ui:define>
            <h:outputText value="#{customersHome.instance.companyEmail}"/>
        </s:decorate>
        <s:decorate id="companyWebsite" template="layout/display.xhtml">
            <ui:define name="label">Website</ui:define>
            <h:outputText value="#{customersHome.instance.companyWebsite}"/>
        </s:decorate>
        <s:decorate id="representative" template="layout/display.xhtml">
            <ui:define name="label">Người đại diện</ui:define>
            <h:outputText value="#{customersHome.instance.representative}"/>
        </s:decorate>
        <s:decorate id="possition" template="layout/display.xhtml">
            <ui:define name="label">Vị trí</ui:define>
            <h:outputText value="#{customersHome.instance.possition}"/>
        </s:decorate>
        <s:decorate id="bankAcount" template="layout/display.xhtml">
            <ui:define name="label">Tài khoản ngân hàng</ui:define>
            <h:outputText value="#{customersHome.instance.bankAcount}"/>
        </s:decorate>
        <s:decorate id="bankLocation" template="layout/display.xhtml">
            <ui:define name="label">Mở tại ngân hàng</ui:define>
            <h:outputText value="#{customersHome.instance.bankLocation}"/>
        </s:decorate>
        <s:decorate id="customerDescription" template="layout/display.xhtml">
            <ui:define name="label">Ghi chú</ui:define>
            <h:outputText value="#{customersHome.instance.customerDescription}"/>
        </s:decorate>
        <s:decorate id="regUser" template="layout/display.xhtml">
            <ui:define name="label">Người tạo</ui:define>
            <h:outputText value="#{customersHome.userCreate.userName}"/>
        </s:decorate>
        <s:decorate id="regDttm" template="layout/display.xhtml">
            <ui:define name="label">Ngày tạo</ui:define>
            <h:outputText value="#{customersHome.instance.regDttm}">
                <s:convertDateTime type="both" dateStyle="short" pattern="dd/MM/yyyy : HH:mm:ss"/>
            </h:outputText>
        </s:decorate>
        <s:decorate id="updUser" template="layout/display.xhtml">
            <ui:define name="label">Người cập nhật</ui:define>
            <h:outputText value="#{customersHome.userUpdate.userName}"/>
        </s:decorate>
        <s:decorate id="updDttm" template="layout/display.xhtml">
            <ui:define name="label">Ngày cập nhật</ui:define>
            <h:outputText value="#{customersHome.instance.updDttm}">
                <s:convertDateTime type="both" dateStyle="short" pattern="dd/MM/yyyy : HH:mm:ss"/>
            </h:outputText>
        </s:decorate>

    </rich:panel>
<div style="clear:both"/><div style="clear:both"/><div style="clear:both"/>
    <div class="actionButtons">
<h:form>
        <s:button view="/CustomersEdit.xhtml"
                    id="edit"
                 value="Edit"/>

        <s:button view="/#{empty customersFrom ? 'CustomersList' : customersFrom}.xhtml"
                    id="done"
                 value="Done"/>
        
        	<a:commandLink ajaxSingle="true" id="addSql" style="padding-right: 10px;"
													reRender="popupAddSqlCustomer"
													oncomplete="#{rich:component('popupAddSqlCustomer')}.show()">
													Thêm mới key
												</a:commandLink>
												
			<a:commandLink ajaxSingle="true" id="editSql"
													reRender="popupEditSqlCustomer"
													oncomplete="#{rich:component('popupEditSqlCustomer')}.show()">
													Update key
												</a:commandLink>
		</h:form>										         

    </div>
</ui:define>

</ui:composition>
