<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:rich="http://richfaces.org/rich" template="layout/template.xhtml">

	<ui:define name="body">

		<h:form id="tblProfiles" styleClass="edit">

			<rich:panel>
				<f:facet name="header">Thông tin cá nhân</f:facet>
				<s:decorate id="userFullName" template="layout/edit.xhtml">
					<ui:define name="label">Tên Người dùng</ui:define>
					<h:outputText id="userFullName"
						value="#{tblProfilesList.tblUsers.fullName}" />
				</s:decorate>
				<s:decorate id="userName" template="layout/edit.xhtml">
					<ui:define name="label">Tên đăng nhập</ui:define>
					<h:outputText id="userName" required="true"
						value="#{tblProfilesList.tblUsers.userName}" />
				</s:decorate>				
				<s:decorate id="personalField" template="layout/edit.xhtml">
					<ui:define name="label">Mã cá nhân</ui:define>
					<h:outputText id="personalId"
						value="#{tblProfilesList.tblUsers.personalId}" />
				</s:decorate>
				<s:decorate id="addressField" template="layout/edit.xhtml">
					<ui:define name="label">Địa chỉ</ui:define>
					<h:outputText id="address"
						value="#{tblProfilesList.tblUsers.address}" />
				</s:decorate>
				<s:decorate id="telephoneField" template="layout/edit.xhtml">
					<ui:define name="label">Điện thoại</ui:define>
					<h:outputText id="telephone"
						value="#{tblProfilesList.tblUsers.telephone}" />
				</s:decorate>
				
				<s:decorate id="emailField" template="layout/edit.xhtml">
					<ui:define name="label">Hòm thư</ui:define>
					<h:outputText id="mobile"
						value="#{tblProfilesList.tblUsers.email}" />
				</s:decorate>
				<div style="clear: both" />
			</rich:panel>

			<div class="actionButtons"><s:button
				view="/TblProfilesEdit.xhtml" id="edit" value="Cập nhật">
				<f:param name="tblUserId" value="#{tblProfilesList.tblUsers.userId}" />
			</s:button> <s:button view="/TblUsersEditP.xhtml" id="editPass"
				value="Đổi mật khẩu">
				<f:param name="tblUserId" value="#{tblProfilesList.tblUsers.userId}" />
			</s:button></div>
		</h:form>

	</ui:define>
</ui:composition>
