<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich" template="layout/template.xhtml">

	<ui:define name="body">

		<h:form id="tblResetPass" styleClass="edit">

			<rich:panel>
				<f:facet name="header">Thay đổi mật khẩu</f:facet>				
				<s:decorate id="passConfirmField" template="layout/edit.xhtml">
					<ui:define name="label">Mật khẩu mới </ui:define>
					<h:inputText value="#{tblUsersHome.newPassword}" required="true" />
				</s:decorate>			
				<div style="clear: both" />
			</rich:panel>
			<div class="actionButtons"><h:commandButton id="save"
				value="Lưu" action="#{tblUsersHome.resetPassword}" /> <s:button
				id="cancelAdd" value="Trở về" propagation="end"
				view="/#{empty tblUsersFrom ? 'TblUsersList' : tblUsersFrom}.xhtml"
				rendered="#{!tblUsersHome.managed}" /></div>
		</h:form>
	</ui:define>

</ui:composition>
