<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich" template="layout/template.xhtml">

	<ui:define name="body">

		<h:form id="transactionsSearch" styleClass="edit"
		rendered="#{s:hasRole('A01') or s:hasRole('A02') or s:hasRole('A03') or s:hasRole('A04')}">

			<rich:simpleTogglePanel label="Tiêu chí lọc" switchType="ajax">
				<h:panelGrid columns="5">
					<s:decorate template="layout/display.xhtml">
						<ui:define name="label">Tên đăng nhập</ui:define>
						<h:inputText id="userName"
							value="#{tblUsersList.tblUsers.userName}" />
					</s:decorate>
					<s:decorate template="layout/display.xhtml">
						<ui:define name="label">Tên người dùng</ui:define>
						<h:inputText id="fullName"
							value="#{tblUsersList.tblUsers.fullName}" />
					</s:decorate>
					<s:decorate template="layout/display.xhtml">
						<ui:define name="label">Số điện thoại</ui:define>
						<h:inputText id="telephone"
							value="#{tblUsersList.tblUsers.telephone}" />
					</s:decorate>
					
					
				</h:panelGrid>				

			</rich:simpleTogglePanel>

			<div class="actionButtons"><h:commandButton id="search"
				value="Tìm kiếm" action="/TblUsersList.xhtml" /> 
				<s:button id="reset" value="Mặc định" includePageParams="false" /> <s:button view="/TblUsersEdit.xhtml"
				id="create" propagation="none" rendered="#{s:hasRole('A01')}"
				value="Thêm mới">
				<f:param name="tblUserId" />
			</s:button></div>

		</h:form>

		<rich:panel>
			<f:facet name="header">Danh sách người dùng (#{empty tblUsersList.resultList ? 0 : (tblUsersList.paginated ? tblUsersList.resultCount : tblUsersList.resultList.size)})</f:facet>
			<h:form>
				<div class="results" id="tblUsersList"><h:outputText
					value="Không có người dùng."
					rendered="#{empty tblUsersList.resultList}" /> <rich:dataTable
					onRowMouseOver="this.style.backgroundColor='#D3DBDE'"
					onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
					id="tblUsersList" var="_usersList"
					value="#{tblUsersList.resultList}"
					rendered="#{not empty tblUsersList.resultList}">
					<rich:column sortBy="#{_usersList.personalId}">
						<f:facet name="header">
							<h:outputText value="Mã số cá nhân" />
						</f:facet>
						<h:outputText value="#{_usersList.personalId}" />
					</rich:column>
					<rich:column sortBy="#{_usersList.userName}" style="#{_usersList.status == 9 ? 'color : red' : 'color : none'}">
						<f:facet name="header">
							<h:outputText value="Tên đăng nhập" />
						</f:facet>
						<h:outputText value="#{_usersList.userName}" />
					</rich:column>
					<rich:column visible="false" sortBy="#{_usersList.password}">
						<f:facet name="header">
							<h:outputText value="Mật khẩu" />
						</f:facet>
						<h:outputText value="#{_usersList.password}" />
					</rich:column>
					<rich:column sortBy="#{_usersList.fullName}">
						<f:facet name="header">
							<h:outputText value="Tên người dùng" />
						</f:facet>
						<h:outputText value="#{_usersList.fullName}" />
					</rich:column>
					<rich:column sortBy="#{_usersList.mobile}">
						<f:facet name="header">
							<h:outputText value="Di động" />
						</f:facet>
						<h:outputText value="#{_usersList.mobile}" />
					</rich:column>
					<rich:column style="text-align:center;"
						sortBy="#{_usersList.email}">
						<f:facet name="header">
							<h:outputText value="Hòm thư" />
						</f:facet>
						<h:outputText value="#{_usersList.email}">
						</h:outputText>
					</rich:column>
					
					<rich:column styleClass="action">
						<f:facet name="header">Hành động</f:facet>

						<s:link view="/TblUsersEdit.xhtml" value="Sửa " propagation="none" rendered="#{s:hasRole('A02')}"
							id="tblUsersEdit">
							<f:param name="tblUserId" value="#{_usersList.userId}" />
						</s:link>
						<s:link view="/TblResetPass.xhtml" value=" Đổi MK"
							propagation="none" rendered="#{s:hasRole('A02')}"
							id="tblResetPass">
							<f:param name="tblUserId" value="#{_usersList.userId}" />
						</s:link>
						<s:link view="/functions/GroupFunctionUsersEdit.xhtml"
							value=" Phân quyền "
							action="#{tblUsersHome.addListGroupFunctions}"
							rendered="#{s:hasRole('C01') and _usersList.userId != 1}"
							propagation="none" id="functionUsersEdit">
							<f:param name="tblUserId" value="#{_usersList.userId}" />
						</s:link>
					</rich:column>
				</rich:dataTable></div>
			</h:form>
		</rich:panel>

		<div class="tableControl"><s:link view="/TblUsersList.xhtml"
			rendered="#{tblUsersList.previousExists}"
			value="#{messages.left}#{messages.left} Trang đầu" id="firstPage">
			<f:param name="firstResult" value="0" />
		</s:link> <s:link view="/TblUsersList.xhtml"
			rendered="#{tblUsersList.previousExists}"
			value="#{messages.left} Trang trước" id="previousPage">
			<f:param name="firstResult"
				value="#{tblUsersList.previousFirstResult}" />
		</s:link> <s:link view="/TblUsersList.xhtml"
			rendered="#{tblUsersList.nextExists}"
			value="Trang sau #{messages.right}" id="nextPage">
			<f:param name="firstResult" value="#{tblUsersList.nextFirstResult}" />
		</s:link> <s:link view="/TblUsersList.xhtml"
			rendered="#{tblUsersList.nextExists}"
			value="Trang cuối #{messages.right}#{messages.right}" id="lastPage">
			<f:param name="firstResult" value="#{tblUsersList.lastFirstResult}" />
		</s:link></div>
	</ui:define>
</ui:composition>

