<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich" template="../layout/template.xhtml">

	<ui:define name="body">

		<h:form id="groupFunctionSearch" styleClass="edit">			

			<div class="actionButtons"> <s:button
				view="/functions/FunctionsEdit.xhtml" id="create" propagation="none"
				action="#{functionHome.addListFunctions}"
				 value="Thêm mới">
				<f:param name="functionsListNameId" />
			</s:button></div>

		</h:form>

		<rich:panel>
		<f:facet name="header">Danh sách phiên bản (#{empty functionList.resultList ? 0 : (functionList.paginated ? functionList.resultCount : functionList.resultList.size)})</f:facet>
		<h:form >			
			<div class="results" id="groupFunctionList"><h:outputText
				value="Không có liên hệ nào."
				rendered="#{empty functionList.resultList}" /> <rich:dataTable
				onRowMouseOver="this.style.backgroundColor='#D3DBDE'"
				onRowMouseOut="this.style.backgroundColor='#{a4jSkin.tableBackgroundColor}'"
				id="functionList" var="_functionListName" value="#{functionList.resultList}"
				rendered="#{not empty functionList.resultList}">
				<rich:column sortBy="#{_functionListName.functionsListName}">
					<f:facet name="header">
						<h:outputText value="Tên phiên bản" />
					</f:facet>
					<h:outputText value="#{_functionListName.functionsListName}" />
				</rich:column>
				<rich:column sortBy="#{_functionListName.description}">
					<f:facet name="header">
						<h:outputText value="Mô tả" />
					</f:facet>
					<h:outputText value="#{_functionListName.description}" />
				</rich:column>
				<rich:column styleClass="action">
					<f:facet name="header">Hành động</f:facet>
					<s:link  view="/functions/FunctionDetail.xhtml" value="Chi tiết"
						propagation="none" id="functionDetail">
						<f:param name="functionsListNameId" value="#{_functionListName.functionsListNameId}" />
						<f:param name="functionFrom" value="#{FunctionsList}" />
					</s:link>					
            		<s:link  view="/functions/FunctionsEdit.xhtml" value="Sửa"
						propagation="none" id="functionEdit" action ="#{functionHome.preEdit}">
						<f:param name="functionsListNameId" value="#{_functionListName.functionsListNameId}" />
					</s:link>				
				</rich:column>
			</rich:dataTable></div>
			</h:form>
		</rich:panel>

		<div class="tableControl"><s:link view="/GroupFunctionsList.xhtml"
			rendered="#{groupFunctionList.previousExists}"
			value="#{messages.left}#{messages.left} First Page" id="firstPage">
			<f:param name="firstResult" value="0" />
		</s:link> <s:link view="/GroupFunctionsList.xhtml"
			rendered="#{groupFunctionList.previousExists}"
			value="#{messages.left} Previous Page" id="previousPage">
			<f:param name="firstResult"
				value="#{groupFunctionList.previousFirstResult}" />
		</s:link> <s:link view="/GroupFunctionsList.xhtml"
			rendered="#{groupFunctionList.nextExists}"
			value="Next Page #{messages.right}" id="nextPage">
			<f:param name="firstResult" value="#{contactList.nextFirstResult}" />
		</s:link> <s:link view="/GroupFunctionsList.xhtml"
			rendered="#{groupFunctionList.nextExists}"
			value="Last Page #{messages.right}#{messages.right}" id="lastPage">
			<f:param name="firstResult" value="#{groupFunctionList.lastFirstResult}" />
		</s:link></div>

	</ui:define>

</ui:composition>
