<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	template="../layout/template.xhtml">

	<ui:define name="body">

		<h:form id="groupFunctionEdit" styleClass="edit">

			<rich:panel
				style="width:100%; position:relative; height: 620px; border: none;">
				<f:facet name="header">#{functionHome.managed ? 'Sửa' : 'Thêm mới'} nhóm quyền</f:facet>
				<h:panelGrid columns="3">
						<s:decorate id="groupFunctionName" template="../layout/edit.xhtml">
							<ui:define name="label">Tên phiên bản</ui:define>
							<h:inputText id="groupFunctionName" style="width: 300px;" required="true"
								value="#{functionHome.instance.functionsListName}" />
						</s:decorate>
						<s:decorate id="description" template="../layout/edit.xhtml">
							<ui:define name="label">Mô tả</ui:define>
							<h:inputTextarea id="description" style="width: 300px;"
								value="#{functionHome.instance.description}" />
						</s:decorate>
						<s:decorate id="function" template="../layout/edit.xhtml">
							<ui:define name="label">Chọn toàn quyền</ui:define>	
							<h:selectBooleanCheckbox id="checkEntryAll"
								value="#{functionHome.onSelected}">
								<a:support event="onclick" reRender="listData" ajaxSingle="true"
									action="#{functionHome.addAllFunction}"
									ignoreDupResponses="true">
								</a:support>
							</h:selectBooleanCheckbox>
						</s:decorate>
					</h:panelGrid>
					
					<rich:dataGrid id = "listData" value="#{functionHome.allListFunctions}" var="function" columns="4">
						<h:selectBooleanCheckbox value="#{function.selected}">
						</h:selectBooleanCheckbox>
						<h:outputText value="#{function.functionGroup}" />
					</rich:dataGrid>
								
				<div style="clear: both"></div>
			</rich:panel>
				
			<div class="actionButtons"><h:commandButton id="save"
				value="Lưu" action="#{functionHome.addFunctionListName}"
				disabled="#{!functionHome.wired}"
				rendered="#{!functionHome.managed}" /> <h:commandButton
				id="update" value="Cập nhật"
				action="#{functionHome.updateFunctionListName}"
				rendered="#{functionHome.managed}" /> <h:commandButton
				id="delete" value="Xóa"
				action="#{functionHome.removeFunctionListName}" immediate="true"
				rendered="#{functionHome.managed}" /> <s:button
				id="cancelEdit" value="Trở về" propagation="end"
				view="/functions/FunctionsList.xhtml"/></div>
		</h:form>
	</ui:define>

</ui:composition>