<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	template="../layout/template.xhtml">

	<ui:define name="body">

		<h:form id="groupFunctionEdit" styleClass="edit">

			<rich:panel
				style="width:100%; position:relative; height: 520px; border: none;">
				<f:facet name="header">#{groupFunctionHome.managed ? 'Sửa' : 'Thêm mới'} nhóm quyền</f:facet>
				<div
					style="position: absolute; top: 30px; left: 0px; width: 40%; height: 320px; overflow-x: auto; overflow-y: auto">
						<s:decorate id="groupFunctionName" template="../layout/edit.xhtml">
							<ui:define name="label">Nhóm quyền</ui:define>
							<h:inputText id="groupFunctionName" style="width: 300px;" required="true"
								value="#{groupFunctionHome.instance.groupFunctionName}" />
						</s:decorate>
						<s:decorate id="description" template="../layout/edit.xhtml">
							<ui:define name="label">Mô tả</ui:define>
							<h:inputTextarea id="description" style="width: 300px;"
								value="#{groupFunctionHome.instance.description}" />
						</s:decorate>
						<s:decorate id="function" template="../layout/edit.xhtml">
							<ui:define name="label">Chọn toàn quyền</ui:define>	
							<h:selectBooleanCheckbox id="checkEntryAll"
								value="#{groupFunctionHome.onSelected}">
								<a:support event="onclick" reRender="tree" ajaxSingle="true"
									action="#{groupFunctionHome.addAllFunction}"
									ignoreDupResponses="true">
								</a:support>
							</h:selectBooleanCheckbox>
						</s:decorate>
					</div>
					<div
					style="width: 1246px; position: absolute; top: 30px; left: 40%; width: 60%; overflow-x: auto; height: 500px;">
					<rich:tree value="#{groupFunctionHome.rootNode}" var="item" id="tree" adviseNodeOpened="#{groupFunctionHome.adviseNodeOpened}">
						<rich:treeNode id="node" >
						<h:selectBooleanCheckbox id="checkNode" value="#{item.selected}"  >
							<a:support event="onclick" reRender="tree" ajaxSingle="true"
										action="#{groupFunctionHome.checkNode(item)}">
									</a:support>
	                                    </h:selectBooleanCheckbox>
							<h:outputText value="#{item.name}" />							
						</rich:treeNode>
					</rich:tree>
					</div>
								
				<div style="clear: both"></div>
			</rich:panel>
				
			<div class="actionButtons"><h:commandButton id="save"
				value="Lưu" action="#{groupFunctionHome.persistGroupFunction}"
				disabled="#{!groupFunctionHome.wired}"
				rendered="#{!groupFunctionHome.managed}" /> <h:commandButton
				id="update" value="Cập nhật"
				action="#{groupFunctionHome.updateGroupFunction}"
				rendered="#{groupFunctionHome.managed}" /> <h:commandButton
				id="delete" value="Xóa"
				action="#{groupFunctionHome.removeGroupFunction}" immediate="true"
				rendered="#{groupFunctionHome.managed}" /> <s:button
				id="cancelEdit" value="Trở về" propagation="end"
				view="/functions/GroupFunctionsList.xhtml"
				rendered="#{groupFunctionHome.managed}" /> <s:button id="cancelAdd"
				value="Trở về" propagation="end"
				view="/#{empty contactFrom ? 'ContactList' : contactFrom}.xhtml"
				rendered="#{!groupFunctionHome.managed}" /></div>
		</h:form>
	</ui:define>

</ui:composition>