<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<f:view xmlns="http://www.w3.org/1999/xhtml"
   xmlns:ui="http://java.sun.com/jsf/facelets"
   xmlns:f="http://java.sun.com/jsf/core"
   xmlns:h="http://java.sun.com/jsf/html"
   xmlns:a="http://richfaces.org/a4j"
   xmlns:s="http://jboss.com/products/seam/taglib"
   contentType="text/html">
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <title>crmkey</title>
      <link rel="shortcut icon" href="#{request.contextPath}/favicon.ico"/>
      <a:loadStyle src="resource:///stylesheet/theme.xcss"/>
      <a:loadStyle src="/stylesheet/theme.css"/>
      <ui:insert name="head"/>
   </head>
   <body>
      <ui:include src="menu.xhtml">
         <ui:param name="projectName" value="crmkey"/>
      </ui:include>
      <div class="body">
         <h:messages id="messages" globalOnly="true" styleClass="message"
            errorClass="errormsg" infoClass="infomsg" warnClass="warnmsg"
            rendered="#{showGlobalMessages != 'false'}"/>
         <ui:insert name="body"/>
      </div>
      <div class="footer">
         <p style="top: 15px; font-size: 14px;">PHẦN MỀM QUẢN LÝ KEY CRMVIET- BẢN QUYỀN THUỘC CÔNG TY TNHH <a
		href="http://crmviet.vn/"> ALTALAB</a></p>
      </div>
   </body>
</html>
</f:view>
