<rich:toolBar
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:rich="http://richfaces.org/rich">
    <rich:toolBarGroup>
        <h:outputText value="#{projectName}:"/>
        <s:link id="menuHomeId" view="/home.xhtml" value="Home" propagation="none"/>
    </rich:toolBarGroup>
    <rich:toolBarGroup rendered="#{s:hasRole('B01') or s:hasRole('B02') or s:hasRole('B03') or s:hasRole('B04') or s:hasRole('B05')}">
        <s:link id="customersId" view="/CustomersList.xhtml" value="Khách hàng" propagation="none"/>
    </rich:toolBarGroup>
    <rich:toolBarGroup rendered="#{s:hasRole('C01') or s:hasRole('C02')}">
        <s:link id="functionsId" view="/functions/GroupFunctionsList.xhtml" value="Nhóm quyền" propagation="none"/>
    </rich:toolBarGroup>
    <rich:toolBarGroup rendered="#{s:hasRole('a01') or s:hasRole('A02') or s:hasRole('A03') or s:hasRole('A04')}">
        <s:link id="userId" view="/TblUsersList.xhtml" value="Danh sách User" propagation="none"/>
    </rich:toolBarGroup>
    <rich:toolBarGroup rendered="#{s:hasRole('B01') or s:hasRole('B02') or s:hasRole('B03') or s:hasRole('B04') or s:hasRole('B05')}">
        <s:link id="functionsListId" view="/functions/FunctionsList.xhtml" value="Danh sách functions" propagation="none"/>
    </rich:toolBarGroup>
    <rich:toolBarGroup rendered="#{identity.loggedIn}">
        <s:link id="user" view="/TblProfiles.xhtml" value="Thông tin cá nhân" propagation="none"/>
    </rich:toolBarGroup>
    
    <!-- @newMenuItem@ -->
    <rich:toolBarGroup location="right">
        <h:outputText id="menuWelcomeId" value="signed in as: #{credentials.username}" rendered="#{identity.loggedIn}"/>
        <s:link id="menuLoginId" view="/login.xhtml" value="Login" rendered="#{not identity.loggedIn}" propagation="none"/>
        <s:link id="menuLogoutId" view="/home.xhtml" action="#{identity.logout}" value="Logout" rendered="#{identity.loggedIn}" propagation="none"/>
    </rich:toolBarGroup>
</rich:toolBar>
