<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="../layout/template.xhtml">

<ui:define name="body">
    <rich:panel>
        <f:facet name="header">Chi tiết quyền Phiên bản #{functionHome.instance.functionsListName}</f:facet>

        <s:decorate id="customerName" template="../layout/display.xhtml">
            <ui:define name="label">Lệnh SQL thêm mới</ui:define>
            <h:inputTextarea value="#{functionHome.sqlAdd}" cols="160" rows="30"/>
        </s:decorate>        
        <rich:dataGrid id = "listData" value="#{functionHome.listFunctionsDetail}" var="function" columns="4">
			<h:outputText value="#{function}" />
		</rich:dataGrid>
    
    
<div style="clear:both"/><div style="clear:both"/><div style="clear:both"/>
    <div class="actionButtons">
<h:form>
        <s:button view="/functions/FunctionsEdit.xhtml" action ="#{functionHome.preEdit}"
                    id="edit"
                 value="Edit"/>

        <s:button view="/functions/#{empty functionFrom ? 'FunctionsList' : functionFrom}.xhtml"
                    id="done"
                 value="Done"/>
        
		</h:form>										         

    </div>
    </rich:panel>
</ui:define>

</ui:composition>
