<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    template="layout/template.xhtml">

<ui:define name="body">

    <h:form id="customers" styleClass="edit">

        <rich:panel>
            <f:facet name="header">Gia hạn Key</f:facet>
            <s:decorate id="customerCodeField" template="layout/edit.xhtml">
                <ui:define name="label">Mã hợp đồng</ui:define>
                <h:inputText id="customerCode" required="true" disabled="true"
                           size="100"
                          value="#{customersHome.instance.customerCode}">
                </h:inputText>
            </s:decorate>
            <s:decorate id="customerNameField" template="layout/edit.xhtml">
                <ui:define name="label">Tên khách hàng</ui:define>
                <h:inputText id="customerName"
                               size="100" required="true" disabled="true"
                              value="#{customersHome.instance.customerName}"/>
            </s:decorate>           
                        
            <s:decorate id="numberUserField" template="layout/edit.xhtml" 
            rendered="#{!customersHome.managed or s:hasRole('B05')}">
                <ui:define name="label">Số lượng user</ui:define>
                <h:inputText id="numberUser"
                               size="100" required="true" disabled="true"
                              value="#{customersHome.instance.numberUser}"/>
            </s:decorate>            
			<s:decorate id="deploymentDateField" template="layout/edit.xhtml" rendered="#{!customersHome.managed or s:hasRole('B05')}">
                <ui:define name="label">Ngày bắt đầu</ui:define>
                <rich:calendar id="deploymentDate" required="true" disabled="true"
                               size="30"
                               datePattern="dd/MM/yyyy"
                              value="#{customersHome.instance.deploymentDate}">
                              <a:support event="onchanged" reRender="versionTypeFiel, finishDateField" ajaxSingle="true"
                              action="#{customersHome.onchangeFinishDate}"/>
                </rich:calendar>              
            </s:decorate>
            <s:decorate id="finishDateField" template="layout/edit.xhtml" rendered="#{!customersHome.managed or s:hasRole('B05')}">
                <ui:define name="label">Ngày hết hạn</ui:define>
                <rich:calendar id="finishDate"
                               size="30"
                               datePattern="dd/MM/yyyy"
                              value="#{customersHome.instance.finishDate}"/>
            </s:decorate>			
            <s:decorate id="taxCodeField" template="layout/edit.xhtml">
                <ui:define name="label">Mã số thuế/CMTND</ui:define>
                <h:inputText id="taxCode" disabled="true"
                           size="20"
                      maxlength="20"
                          value="#{customersHome.instance.taxCode}">
                </h:inputText>
            </s:decorate>
            <s:decorate id="faxField" template="layout/edit.xhtml" rendered="false">
                <ui:define name="label">Fax</ui:define>
                <h:inputText id="fax"
                           size="20"
                      maxlength="20"
                          value="#{customersHome.instance.fax}">
                </h:inputText>
            </s:decorate>
            <s:decorate id="telephoneField" template="layout/edit.xhtml">
                <ui:define name="label">Telephone</ui:define>
                <h:inputText id="telephone" disabled="true"
                           size="20"
                      maxlength="20"
                          value="#{customersHome.instance.telephone}">
                </h:inputText>
            </s:decorate>
            <s:decorate id="customerAddressField" template="layout/edit.xhtml">
                <ui:define name="label">Địa chỉ</ui:define>
                <h:inputText id="customerAddress" disabled="true"
                               size="100"
                              value="#{customersHome.instance.customerAddress}"/>
            </s:decorate>
            <s:decorate id="displayLogoField" template="layout/edit.xhtml">
                <ui:define name="label">Đường dẫn logo</ui:define>
                <h:inputText id="customerAddress" required="true" disabled="true"
                               size="100"
                              value="#{customersHome.instance.displayLogo}"/>
            </s:decorate>
            <s:decorate id="customerDescriptionField" template="layout/edit.xhtml">
                <ui:define name="label">Ghi chú</ui:define>
                <h:inputText id="customerDescription"
                               size="100"
                              value="#{customersHome.instance.customerDescription}"/>
            </s:decorate>
            <div style="clear:both">
                <span class="required">*</span>
                required fields
            </div>

        </rich:panel>

        <div class="actionButtons">

            <h:commandButton id="save"
                          value="Gia Hạn"
                         action="#{customersHome.giahan}"
                       rendered="#{s:hasRole('B01')}"/>


            <s:button id="cancelAdd"
                   value="Cancel"
             propagation="end"
                    view="/#{empty customersFrom ? 'CustomersList' : customersFrom}.xhtml"/>

        </div>
    </h:form>
</ui:define>
</ui:composition>
