<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:a="http://richfaces.org/a4j"
    xmlns:rich="http://richfaces.org/rich"
    template="layout/template.xhtml">

<ui:define name="body">

    <h:form id="customers" styleClass="edit">

        <rich:panel style="width : 50%; float : left">
            <f:facet name="header">#{customersHome.managed ? 'Edit' : 'Add'} Customers</f:facet>
            <s:decorate id="customerCodeField" template="layout/edit.xhtml">
                <ui:define name="label">Mã hợp đồng</ui:define>
                <h:inputText id="customerCode" required="true"
                           size="80"
                          value="#{customersHome.instance.customerCode}">
                </h:inputText>
            </s:decorate>
            <s:decorate id="customerNameField" template="layout/edit.xhtml">
                <ui:define name="label">Tên khách hàng</ui:define>
                <h:inputText id="customerName"
                               size="80" required="true"
                              value="#{customersHome.instance.customerName}"/>
            </s:decorate>
            <s:decorate id="numberUserField" template="layout/edit.xhtml" 
            rendered="#{!customersHome.managed or s:hasRole('B05')}">
                <ui:define name="label">Số lượng user</ui:define>
                <h:inputText id="numberUser"
                               size="80" required="true"
                              value="#{customersHome.instance.numberUser}"/>
            </s:decorate>
            <s:decorate id="versionTypeFiel" template="layout/edit.xhtml" rendered="#{!customersHome.managed or s:hasRole('B05')}">
				<ui:define name="label">Trạng thái </ui:define>
				<h:selectOneListbox
					value="#{customersHome.instance.versionType}" size="1"
					style="width:130px">
					<f:selectItem itemLabel="Đã mua hàng" itemValue="0" />
					<f:selectItem itemLabel="Dùng thử" itemValue="1" />
					<a:support event="onchange" reRender="versionTypeFiel, finishDateField" ajaxSingle="true"
					 actionListener="#{customersHome.onchangeFinishDate}"/>
				</h:selectOneListbox>
			</s:decorate>
			<s:decorate id="deploymentDateField" template="layout/edit.xhtml" rendered="#{!customersHome.managed or s:hasRole('B05')}">
                <ui:define name="label">Ngày cài đặt</ui:define>
                <rich:calendar id="deploymentDate" required="true"
                               size="30"
                               datePattern="dd/MM/yyyy"
                              value="#{customersHome.instance.deploymentDate}">
                              <a:support event="onchanged" reRender="versionTypeFiel, finishDateField" ajaxSingle="true"
                              action="#{customersHome.onchangeFinishDate}"/>
                </rich:calendar>              
            </s:decorate>
            <s:decorate id="finishDateField" template="layout/edit.xhtml" rendered="#{!customersHome.managed or s:hasRole('B05')}">
                <ui:define name="label">Ngày hết hạn</ui:define>
                <rich:calendar id="finishDate"
                               size="30"
                               datePattern="dd/MM/yyyy"
                              value="#{customersHome.instance.finishDate}"/>
            </s:decorate>
            <s:decorate id="typeCompanyField" template="layout/edit.xhtml" rendered="#{!customersHome.managed or s:hasRole('B05')}">
				<ui:define name="label">Loại hình </ui:define>
				<h:selectOneListbox
					value="#{customersHome.instance.typeCompany}" size="1"
					style="width:130px">
					<f:selectItem itemLabel="Doanh nghiệp" itemValue="0" />
					<f:selectItem itemLabel="Cá nhân" itemValue="1" />					
				</h:selectOneListbox>
			</s:decorate>			
            <s:decorate id="taxCodeField" template="layout/edit.xhtml">
                <ui:define name="label">Mã số thuế/CMTND</ui:define>
                <h:inputText id="taxCode" required="true"
                           size="20"
                      maxlength="20"
                          value="#{customersHome.instance.taxCode}">
                </h:inputText>
            </s:decorate>            
            <s:decorate id="telephoneField" template="layout/edit.xhtml">
                <ui:define name="label">Telephone</ui:define>
                <h:inputText id="telephone" required="true"
                           size="20"
                      maxlength="250"
                          value="#{customersHome.instance.telephone}">
                </h:inputText>
            </s:decorate>
            <s:decorate id="customerAddressField" template="layout/edit.xhtml">
                <ui:define name="label">Địa chỉ</ui:define>
                <h:inputTextarea id="customerAddress" required="true"
                               cols="50" rows="3"
                              value="#{customersHome.instance.customerAddress}"/>
            </s:decorate>
            <s:decorate id="displayLogoField" template="layout/edit.xhtml">
                <ui:define name="label">Đường dẫn logo trên phần mềm</ui:define>
                <h:inputText id="displayLogo" required="true"
                               size="80"
                              value="#{customersHome.instance.displayLogo}"/>
            </s:decorate>
      </rich:panel>
      <rich:panel style="width : 45%; float: right;">      
            <s:decorate id="imgField" template="layout/edit.xhtml">
                <ui:define name="label">Logo trên báo cáo</ui:define>
                <h:inputText id="img" 
                               size="80"
                              value="#{customersHome.instance.img}"/>
            </s:decorate>
             <s:decorate id="faxField" template="layout/edit.xhtml">
                <ui:define name="label">Fax</ui:define>
                <h:inputText id="fax" size="80"
                          value="#{customersHome.instance.fax}">
                </h:inputText>
            </s:decorate>
            <s:decorate id="companyEmailField" template="layout/edit.xhtml">
                <ui:define name="label">Email</ui:define>
                <h:inputText id="companyEmail" size="80"
                          value="#{customersHome.instance.companyEmail}">
                </h:inputText>
            </s:decorate>
            <s:decorate id="companyWebsiteField" template="layout/edit.xhtml">
                <ui:define name="label">Website</ui:define>
                <h:inputText id="companyWebsite" size="80"
                          value="#{customersHome.instance.companyWebsite}">
                </h:inputText>
            </s:decorate>
            <s:decorate id="representativeField" template="layout/edit.xhtml">
                <ui:define name="label">Người đại diện</ui:define>
                <h:inputText id="representative" size="80"
                          value="#{customersHome.instance.representative}">
                </h:inputText>
            </s:decorate>
            <s:decorate id="possitionField" template="layout/edit.xhtml">
                <ui:define name="label">Vị trí</ui:define>
                <h:inputText id="possition" size="80"
                          value="#{customersHome.instance.possition}">
                </h:inputText>
            </s:decorate>
            <s:decorate id="bankAcountField" template="layout/edit.xhtml">
                <ui:define name="label">Tài khoản ngân hàng</ui:define>
                <h:inputText id="bankAcount" size="80"
                          value="#{customersHome.instance.bankAcount}">
                </h:inputText>
            </s:decorate>
            <s:decorate id="bankLocationField" template="layout/edit.xhtml">
                <ui:define name="label">Mở tại ngân hàng</ui:define>
                <h:inputText id="bankLocation" size="80"
                          value="#{customersHome.instance.bankLocation}">
                </h:inputText>
            </s:decorate>
            <s:decorate id="customerDescriptionField" template="layout/edit.xhtml">
                <ui:define name="label">Ghi chú</ui:define>
                <h:inputText id="customerDescription"
                               size="80"
                              value="#{customersHome.instance.customerDescription}"/>
            </s:decorate>
           

        </rich:panel>
<div style="clear:both"/><div style="clear:both"/><div style="clear:both"/>
        <div class="actionButtons">

            <h:commandButton id="save"
                          value="Lưu"
                         action="#{customersHome.persist}"
                       disabled="#{!customersHome.wired}"
                       rendered="#{!customersHome.managed and s:hasRole('B01')}"/>

            <h:commandButton id="update"
                          value="Cập nhật"
                         action="#{customersHome.update}"
                       rendered="#{customersHome.managed and (s:hasRole('B02') or s:hasRole('B05'))}"/>

            <h:commandButton id="delete"
                          value="Xóa"
                         action="#{customersHome.remove}"
                      immediate="true"
                       rendered="#{customersHome.managed and s:hasRole('B03')}"/>

            <s:button id="cancelEdit"
                   value="Cancel"
             propagation="end"
                    view="/Customers.xhtml"
                rendered="#{customersHome.managed}"/>

            <s:button id="cancelAdd"
                   value="Cancel"
             propagation="end"
                    view="/#{empty customersFrom ? 'CustomersList' : customersFrom}.xhtml"
                rendered="#{!customersHome.managed}"/>

        </div>
    </h:form>
</ui:define>
</ui:composition>
