<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich">

	<rich:modalPanel id="popupEditSqlCustomer" width="800" height="500"
		style="overflow: scroll; overflow-x: hidden; overflow-y: auto; ">
		<f:facet name="controls">
			<h:panelGroup id="hidePopupEditSqlCustomer">
				<h:graphicImage value="/img/close.png" style="cursor:pointer" />
				<rich:componentControl for="popupEditSqlCustomer"
					attachTo="hidePopupEditSqlCustomer" operation="hide"
					event="onclick" />
			</h:panelGroup>
		</f:facet>
		<h:form id="EditForm">
			<s:decorate id="sql" template="layout/display.xhtml">
            <ui:define name="label">Cập nhật key</ui:define>
            <h:outputText value="#{customersHome.sqlEdit}">
            </h:outputText>
        </s:decorate>

			
		</h:form>
	</rich:modalPanel>
</ui:composition>