<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich" template="layout/template.xhtml">

	<ui:define name="body">

		<h:form id="tblUsersEdit" styleClass="edit">

			<rich:panel>
				<f:facet name="header">Đổi mật khẩu</f:facet>
				<s:decorate id="userName" template="layout/edit.xhtml">
					<ui:define name="label">Tên Người dùng</ui:define>
					<h:outputText id="userName"
						value="#{tblProfilesHome.instance.userName}" />
				</s:decorate>
				<s:decorate id="oldPass" template="layout/edit.xhtml">
					<ui:define name="label">Mật khẩu hiện tại</ui:define>
					<h:inputSecret id="oldPass" required="true"
						value="#{tblProfilesHome.oldPassword}" />
				</s:decorate>
				<s:decorate id="passwordField" template="layout/edit.xhtml">
					<ui:define name="label">Mật khẩu mới</ui:define>
					<h:inputSecret id="password" required="true"
						value="#{tblProfilesHome.newPassword}" />
				</s:decorate>								
				<div style="clear: both"><span class="required">*</span> yêu
				cầu bắt buộc</div>

			</rich:panel>

			<div class="actionButtons"><h:commandButton id="save"
				value="Lưu" action="#{tblProfilesHome.changePassword}" /> <s:button
				id="cancelAdd" value="Trở về" propagation="end"
				view="/#{empty tblUsersFrom ? 'TblProfiles' : tblUsersFrom}.xhtml"
				rendered="#{!tblProfilesHome.managed}" /></div>
		</h:form>
	</ui:define>

</ui:composition>
