<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich" template="layout/template.xhtml">

	<ui:define name="body">

		<h:form id="tblUsersEdit" styleClass="edit">

			<rich:panel>
				<f:facet name="header">Sửa thông tin cá nhân</f:facet>
				<s:decorate id="personalIdField" template="layout/edit.xhtml">
					<ui:define name="label">Mã số cá nhân</ui:define>
					<h:inputText id="personalId" style="width: 200px;"
						value="#{tblProfilesHome.instance.personalId}" />
				</s:decorate>
				<s:decorate id="userNameField" template="layout/edit.xhtml">
					<ui:define name="label">Tên đăng nhập</ui:define>
					<h:outputText id="userName" style="width: 200px;"
						value="#{tblProfilesHome.instance.userName}" />
				</s:decorate>				
				<s:decorate id="fullNameField" template="layout/edit.xhtml">
					<ui:define name="label">Họ tên </ui:define>
					<h:inputText value="#{tblProfilesHome.instance.fullName}"  style="width: 200px;" required="true"/>
				</s:decorate>			
				
				<s:decorate id="addressField" template="layout/edit.xhtml">
					<ui:define name="label">Địa chỉ</ui:define>
					<h:inputTextarea id="address" cols="26" rows="1"
						value="#{tblProfilesHome.instance.address}" />
				</s:decorate>
				
				<s:decorate id="telePhoneField" template="layout/edit.xhtml">
					<ui:define name="label">Điện thoại</ui:define>
					<h:inputText id="telephone" style="width: 200px;"
						value="#{tblProfilesHome.instance.telephone}" />
				</s:decorate>
				
				<s:decorate id="emailField" template="layout/edit.xhtml">
					<ui:define name="label">Hòm thư</ui:define>
					<h:inputText id="email" value="#{tblProfilesHome.instance.email}" style="width: 200px;"/>
				</s:decorate>
				
				<div style="clear: both"><span class="required">*</span> Yêu
				cầu bắt buộc</div>

			</rich:panel>

			<div class="actionButtons"><h:commandButton
				id="update" value="Cập nhật"
				action="#{tblProfilesHome.update}"
				rendered="#{tblProfilesHome.managed}" /> <s:button
				id="cancelEdit" value="Trở về" propagation="end"
				view="/TblProfiles.xhtml" rendered="#{tblProfilesHome.managed}" />

			<s:button id="cancelAdd" value="Trở về" propagation="end"
				view="/#{empty tblUsersFrom ? 'TblProfiles' : tblUsersFrom}.xhtml"
				rendered="#{!tblProfilesHome.managed}" /></div>
		</h:form>	
	</ui:define>

</ui:composition>
