<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
    xmlns:s="http://jboss.com/products/seam/taglib"
    xmlns:ui="http://java.sun.com/jsf/facelets"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:rich="http://richfaces.org/rich"
    xmlns:a="http://richfaces.org/a4j"
    template="layout/template.xhtml">

<ui:define name="body">

    <rich:panel>
        <f:facet name="header">Chi tiết người dùng</f:facet>
		<s:div style="width: 50%; float: left;">
		 <s:decorate id="userName" template="layout/display.xhtml">
            <ui:define name="label">Tên đăng nhập</ui:define>
            <h:outputText value="#{tblUsersHome.instance.userName}"/>
        </s:decorate>     
        <s:decorate id="fullName" template="layout/display.xhtml">
            <ui:define name="label">Họ tên</ui:define>
            <h:outputText value="#{tblUsersHome.instance.fullName}">                
            </h:outputText>
        </s:decorate>
		
				<s:decorate id="personalIdField" template="layout/edit.xhtml">
					<ui:define name="label">Mã số cá nhân</ui:define>
					<h:outputText id="personalId" style="width: 200px;"
						value="#{tblUsersHome.instance.personalId}" />
				</s:decorate>
        <s:decorate id="address" template="layout/display.xhtml">
            <ui:define name="label">Địa chỉ</ui:define>
            <h:outputText value="#{tblUsersHome.instance.address}" style="text-align:right;">           
            </h:outputText>
        </s:decorate>       
                      
                <s:decorate id="telephone" template="layout/display.xhtml">
            <ui:define name="label">Điện thoại</ui:define>
            <h:outputText value="#{tblUsersHome.instance.telephone}"/>
        </s:decorate>
                <s:decorate id="mobile" template="layout/display.xhtml">
            <ui:define name="label">Di động</ui:define>
            <h:outputText value="#{tblUsersHome.instance.mobile}"/>
        </s:decorate>
         <s:decorate id="email" template="layout/display.xhtml">
            <ui:define name="label">Hòm thư</ui:define>
            <h:outputText value="#{tblUsersHome.instance.email}"/>
        </s:decorate>
		</s:div>
		      
        <div style="clear:both"/>

    </rich:panel>

    <div class="actionButtons">

        <s:button view="/TblUsersEdit.xhtml"
                    id="edit"
                 value="Sửa" >
          
       </s:button>

        <s:button view="/TblUsersList.xhtml"
                    id="done"
                 value="Trở về"/>

    </div>

   </ui:define>

</ui:composition>
