<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich" template="layout/template.xhtml">

	<ui:define name="body">

		<h:form id="tblUsersEdit" styleClass="edit">

			<rich:panel>
				<f:facet name="header">#{tblUsersHome.managed ? 'Sửa' : 'Thêm mới'} người dùng</f:facet>
				<s:div style="width: 50%; float: left;">
					<s:decorate id="userNameField" template="layout/edit.xhtml"
						rendered="#{tblUsersHome.instance.userId != 1}">
						<ui:define name="label">Tên đăng nhập</ui:define>
						<h:inputText id="userName" required="true" style="width: 200px;"
							value="#{tblUsersHome.instance.userName}" />
					</s:decorate>
					<s:decorate id="passwordField" template="layout/edit.xhtml"
						rendered="#{!tblUsersHome.managed}">
						<ui:define name="label">Mật khẩu</ui:define>
						<h:inputSecret id="password"
							required="#{tblUsersHome.instance.userId == null}"
							style="width: 200px;" value="#{tblUsersHome.instance.password}" />
					</s:decorate>
					<s:decorate id="fullNameField" template="layout/edit.xhtml">
						<ui:define name="label">Họ và tên </ui:define>
						<h:inputText required="true"
							value="#{tblUsersHome.instance.fullName}"
							style="width: 200px;" />
					</s:decorate>					
					<s:decorate id="personalIdField" template="layout/edit.xhtml">
						<ui:define name="label">Mã số cá nhân</ui:define>
						<h:inputText id="personalId" style="width: 200px;"
							value="#{tblUsersHome.instance.personalId}" />
					</s:decorate>
					<s:decorate id="addressField" template="layout/edit.xhtml">
						<ui:define name="label">Địa chỉ</ui:define>
						<h:inputTextarea id="address" cols="26" rows="1"
							value="#{tblUsersHome.instance.address}" />
					</s:decorate>
					<s:decorate id="telePhoneField" template="layout/edit.xhtml">
						<ui:define name="label">Điện thoại</ui:define>
						<h:inputText id="telephone" style="width: 200px;"
							value="#{tblUsersHome.instance.telephone}" />
					</s:decorate>
					<s:decorate id="mobileField" template="layout/edit.xhtml">
						<ui:define name="label">Di động</ui:define>
						<h:inputText id="mobile" style="width: 200px;"
							value="#{tblUsersHome.instance.mobile}" />
					</s:decorate>
					<s:decorate id="emailField" template="layout/edit.xhtml">
						<ui:define name="label">Hòm thư</ui:define>
						<h:inputText id="email" value="#{tblUsersHome.instance.email}"
							style="width: 200px;" />
					</s:decorate>
				</s:div>
				
				<div style="clear: both"><span class="required">*</span> Yêu
				cầu bắt buộc</div>

			</rich:panel>

			<div class="actionButtons"><h:commandButton id="save"
			rendered="#{!tblUsersHome.managed}"
				value="Lưu" action="#{tblUsersHome.addUser}" /> <h:commandButton
				rendered="#{tblUsersHome.managed and s:hasRole('A02')}"
				id="update" value="Cập nhật" action="#{tblUsersHome.updateUser}" /> <h:commandButton
				id="delete" value="Xóa" action="#{tblUsersHome.removeUser}"
				immediate="true"
				rendered="#{tblUsersHome.managed and s:hasRole('A03') and tblUsersHome.instance.userId != 1}" />
			<h:commandButton id="inActive" value="Ngừng hoạt động"
				action="#{tblUsersHome.inActive}" immediate="true"
				rendered="#{tblUsersHome.managed and s:hasRole('A03') and tblUsersHome.instance.status ==1 and tblUsersHome.instance.userId != 1}" />
			<h:commandButton id="active" value="Kích hoạt"
				action="#{tblUsersHome.active}" immediate="true"
				rendered="#{tblUsersHome.managed and s:hasRole('A03') and tblUsersHome.instance.status == 9}" />				
			<s:button id="cancelAdd" value="Trở về" propagation="end"
				view="/TblUsersList.xhtml" /></div>
		</h:form>
	</ui:define>

</ui:composition>
